name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Setup secrets
        run: cp secrets.nix.example secrets.nix
             git add secrets.nix
      
      - name: Check flake
        run: nix flake check
      
      - name: Check flake outputs
        run: nix flake show

